<% content_for :title do %>
 <title>Breeze blog</title>
<% end %>
<% content_for :meta do %>
<meta name="description" content="Breeze blog">
<meta name="Keywords" content="project management, project management software, product management, task management, time tracking  productivity tools, kanban, agile, kanban board, agile board, scrum board, freelancer, consultant">
<% end %>
<div class="workspace_public">
	
	<div class="container-fluid home">
			<div class="container space30 blog">
			<%= render @posts %>

			<% if @page %>
				<%= render :partial => "pagination" %>
			<% end %>
		</div>
	</div>
</div>	